.HowItWorksAboutPage-holder {
    display: flex;
    justify-content: center;
    background: url("./bagroundPink.svg") no-repeat center;


    margin-top: 100px;
    margin-bottom: -100px;
}

.HowItWorksAboutPage-cont {
    background: url("./bagroundDriveoxe.svg") no-repeat center;
    background-position-y: 58%;
    height: max-content;
    width: 1259px;
}

.HowItWorksAboutPage-small-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.HowItWorksAboutPage-Big-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
}

.HowItWorksAboutPage-top-row {
    display: flex;
    justify-content: space-between;
    gap: 221px;
    margin-top: 100px;
}

.HowItWorksAboutPage-select-cont {
    display: flex;
    width: 378px;
    border-radius: 50px;
}

.HowItWorksAboutPage-img-card {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.HowItWorksAboutPage-img-card>img {
    width: 64px;
    margin-top: 43px;
    margin-left: 43px;
}

.HowItWorksAboutPage-select-text, .HowItWorksAboutPage-book-text {
    color: #222222;
    margin-top: 15px;
    margin-left: 32px;
}

.HowItWorksAboutPage-select-title, .HowItWorksAboutPage-book-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.HowItWorksAboutPage-select-desc, .HowItWorksAboutPage-book-desc {
    margin-top: 32px;
    width: 196px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 80%;
}

.mystery-circle-topRow {
    position: absolute;
    margin-top: 87px;
    margin-left: 13px;

    transition: 0.6s ease-in-out;
}

.HowItWorksAboutPage-drive-cont {
    margin-right: 282px;
    display: flex;
    width: 378px;
    border-radius: 50px;
}

.HowItWorksAboutPage-drive-text, .HowItWorksAboutPage-return-text {
    margin-top: 20px;
    margin-right: 32px;
    color: #222222;
    text-align: right;
}

.HowItWorksAboutPage-drive-title, .HowItWorksAboutPage-return-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.HowItWorksAboutPage-drive-desc, .HowItWorksAboutPage-return-desc {
    margin-top: 32px;
    width: 196px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 80%;
}

.HowItWorksAboutPage-midlle-row {
    margin-top: 48px;
    width: 1259px;
    height: 40px;
}

.circles-cont-about {
    width: 40px;
    margin-left: 40px;
    background-position-y: bottom;
    transition: ease-in-out 0.6s;
}

.dashed-line-cont {
    margin-left: 55px;
}

.LineDashsed {
    margin-top: 53px;
}

.selectLine {
    margin-left: 92px;
}

.BookLine {
    padding-left: 37px;
}

.DriveLine {
    margin-top: 14px;
    position: absolute;
}

.ReturnLine {
    margin-left: 290px;
}

.HowItWorksAboutPage-bottom-row {
    margin-top: 68px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.HowItWorksAboutPage-book-cont {
    margin-left: 290px;
    display: flex;
    border-radius: 50px;

}

.mystery-circle-bottomRow {
    position: absolute;
    margin-top: -92px;
    margin-left: 13px;

    transition: 0.6s ease-in-out;
}

.HowItWorksAboutPage-return-cont {
    display: flex;
    width: 378px;
    border-radius: 50px;
}

/* 
болванка для точек под карточками
*/

.mystery-circle-bottomRow-return {
    position: absolute;
    margin-left: 23px;
    margin-top: -205px;

    width: 50px;
    height: 50px;
    transition: 0.6s ease-in-out;
}

/* 
hover для карточек
*/

.HowItWorksAboutPage-select-cont:hover .HowItWorksAboutPage-img-card,
.HowItWorksAboutPage-drive-cont:hover .HowItWorksAboutPage-img-card,
.HowItWorksAboutPage-book-cont:hover .HowItWorksAboutPage-img-card,
.HowItWorksAboutPage-return-cont:hover .HowItWorksAboutPage-img-card {
    background-color: #ee8181;
}

/* 
hover для точек  
*/

/* 
hover для колец на верхней строке карточек  
*/

.HowItWorksAboutPage-select-cont:hover 
.mystery-circle-topRow>.circles-cont-about>.first-circle,
.HowItWorksAboutPage-drive-cont:hover 
.mystery-circle-topRow>.circles-cont-about>.first-circle
{
    background-color: #FECFCF;
    opacity: 0.8;
}

.HowItWorksAboutPage-select-cont:hover 
.mystery-circle-topRow>.circles-cont-about>.first-circle>.second-circle,
.HowItWorksAboutPage-drive-cont:hover 
.mystery-circle-topRow>.circles-cont-about>.first-circle>.second-circle
{
    background-color: #FDB5B5;
}

.HowItWorksAboutPage-select-cont:hover 
.mystery-circle-topRow>.circles-cont-about>.first-circle>.second-circle>.third-circle,
.HowItWorksAboutPage-drive-cont:hover 
.mystery-circle-topRow>.circles-cont-about>.first-circle>.second-circle>.third-circle
{
    background-color: #FC9494;
}

/* 
hover для колец на нижней строке карточек  
*/

.HowItWorksAboutPage-book-cont:hover 
.mystery-circle-bottomRow>.circles-cont-about>.first-circle,
.HowItWorksAboutPage-return-cont:hover 
.mystery-circle-bottomRow-return>.circles-cont-about>.first-circle
{
    background-color: #FECFCF;
    opacity: 0.8;
}

.HowItWorksAboutPage-book-cont:hover 
.mystery-circle-bottomRow>.circles-cont-about>.first-circle>.second-circle,
.HowItWorksAboutPage-return-cont:hover 
.mystery-circle-bottomRow-return>.circles-cont-about>.first-circle>.second-circle
{
    background-color: #FDB5B5;
}

.HowItWorksAboutPage-book-cont:hover 
.mystery-circle-bottomRow>.circles-cont-about>.first-circle>.second-circle>.third-circle,
.HowItWorksAboutPage-return-cont:hover 
.mystery-circle-bottomRow-return>.circles-cont-about>.first-circle>.second-circle>.third-circle
{
    background-color: #FC9494;
}