.CarsCards-holder {
    display: flex;
    justify-content: center;
}

.CarsCards-cont {
    width: 1340px;
}

.CarsCards-topRow {
    display: flex;
    justify-content: space-between;
}

.CarsCards-Dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Чтобы стрелка и текст были ровно */
    margin-left: 510px;
    width: 143px;
    height: 37px;
    background-color: #F8F8F8;
    transition: opacity 0.7s ease;
    position: relative; /* Для позиционирования выпадающего списка */
    cursor: pointer; /* Курсор-указатель */
  }


.CarsCards-Dropdown-text {
    font-size: 14px;
    opacity: 0.6;
    padding-left: 10px;
}

.dropdown-content {
    position: absolute;
    top: 100%; /* Размещаем под кнопкой */
    left: 0;
    width: 147px;
    background-color: #F8F8F8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0; /* Начальная прозрачность */
    visibility: hidden; /* Скрываем */
    transition: opacity 0.6s ease, visibility 0.6s ease;
}
  
.dropdown-content p {
    font-size: 13px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.DropdownArrow {
    width: 11px;
    height: 11px;
    margin-right: 13px;
    transition: transform 0.5s ease; /* Анимация стрелки */
}

.CarsCards-Dropdown:hover .DropdownArrow {
    transform: rotate(180deg); /* Поворачиваем стрелку */
}
  
.CarsCards-Dropdown p:hover {
    background-color: #f1f1f1;
}
  
/* Показываем меню при наведении */
.CarsCards-Dropdown:hover .dropdown-content {
    opacity: 100%;
    visibility: visible;
  }


.CarsCards-Dropdown:hover, .CarsCards-Searching:hover {
    background-color: #e9e9e9;
    transition: 1s;
    cursor: pointer;
}

.CarsCards-Sorting-text {
    margin-left: 10px;
    margin-top: 10px;
    opacity: 60%;
}

.CarsCards-ShowingResults {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    opacity: 60%;
}

.CarsCards-Searching {
    width: 320px;
    height: 37px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    border: none;
}

.CarsCards-Searching-input {
    padding-left: 20px;
    width: 100%;
    opacity: 60%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

.CarsCards-Searching>img {
    width: 14px;
    height: 14px;
    position: absolute;
    margin-left: 286px;
    margin-top: 11px;
}

/* ---------- */

.CarsCards-catalog-cont {
    margin-top: 32px;
    height: 1366px;
    display: flex;
    justify-content: space-between;
}

.card-list-cars-page {
    width: 936px;
    gap: 48px;
    margin-left: 0px;
}

.No-results {
    font-size: 22px;
}

.CarsCards-tags-cont {
    width: 291px;
    height: 903px;
    margin-right: 29px;
}

.items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    list-style: none;
}

.CarsCards-tags-cont>p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 24px;
}

.CarsCards-tags-categories-cont {
    justify-content: space-between;
    width: 280px;
}

.CATEGORIES, .TAGS {
    margin-top: 53px;
}

.Reset-Categories, .Reset-Tags {
    width: fit-content;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 500;
    transition: 0.4s;
    cursor: pointer;
    color:#9b2323;
}

.Categories-column {
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    display: grid;
    grid-template-columns: 132px 116px;
    grid-column-gap: 32px;
}

.Categories-column>li {
    margin-bottom: 16px;
}

.Categories-column-btn {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.4s;
    cursor: pointer;
}

.Categories-column-btn:hover, .Reset-Categories:hover, .Reset-Tags:hover{
    color: #FD3B3B;
}

.Categories-column>li:last-child {
    margin-bottom: 0px;
}

.TAGS-cont {
    width: 320px;
}

.TAGS-links {
    height: 54px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    list-style-type: none;
}

.TAGS-bottom-row {
    margin-top: 16px;
}

.TAGS-btn {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    gap: 16px;
    transition: 0.4s;
    cursor: pointer;

}

.TAGS-btn:hover {
    color: #FD3B3B;
}

.Cards-flipping-cont {
    width: 936px;
    margin-top: 48px;
    text-align: center;
}

.Cards-flipping-list>li:hover {
    transition: 1s ease-in-out;
    color: #FD3B3B;
    cursor: pointer;
}

.Cards-flipping-list>li>img:hover {
    transition: 0.5s ease-in-out;
    scale: 1.3;
}

.flipping-number {
    opacity: 60%;
}

.Cards-flipping-list>li>img {
    margin-top: 3px;
}

.Cards-flipping-ArrowRight {
    transform: scaleX(-1);
}

/* Стили для активной категории */
.Categories-column-btn.active-category {
    color: #FD3B3B;
}

/* Стили для активного тега */
.TAGS-btn.active-tag {
    color: #FD3B3B;
}

/* Стили для активного сброса */
.active-reset {
  color: #FD3B3B;
}
  
.FooterCarsPage-holder {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.FooterCarsPage-cont {
    width: 1340px;
    height: 399px;
    background: url("./driver.jpg") no-repeat;
    background-size: cover;
    background-position-y: 50%;
    border-radius: 30px;
    background-blend-mode: color;
}

.FooterCarsPage-BackOpac {
    background: rgba(0, 0, 0, 0.4);
    width: 1340px;
    height: 399px;
    border-radius: 30px;
}

.Driver-photo-small-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 56px;
    text-align: right;
    margin-right: 100px;
}

.Driver-photo-big-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: #FFFFFF;
    margin-top: 45px;
    text-align: right;
    margin-right: 100px;
}

.btn-footer-cont {
    text-align: right;
}

.btn-footer {
    background-color: #FD3B3B;
    border-radius: 32px;
    color: white;
    width: 212px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin-right: 100px;
    margin-top: 44px;
    border: none;
    cursor: pointer;
}

.bolvanka {
    width: 1440px;
    height: 56px;
}